/Federation.Windows/obj/x86/Debug/.g.cs
/Federation.Windows/obj/x86/Debug/AboutPage.g.cs
/Federation.Windows/obj/x86/Debug/App.g.cs
/Federation.Windows/obj/x86/Debug/App.g.i.cs
/Federation.Windows/obj/x86/Debug/BattleViewer.g.cs
/Federation.Windows/obj/x86/Debug/Controls/.g.cs
/Federation.Windows/obj/x86/Debug/Controls/GalaxyPlanet.g.cs
/Federation.Windows/obj/x86/Debug/Controls/GalaxyPlanet.g.i.cs
/Federation.Windows/obj/x86/Debug/Controls/Ship.g.cs
/Federation.Windows/obj/x86/Debug/Controls/Ship.g.i.cs
/Federation.Windows/obj/x86/Debug/Controls/lcarButton.g.cs
/Federation.Windows/obj/x86/Debug/Controls/lcarButton.g.i.cs
/Federation.Windows/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Federation.Windows/obj/x86/Debug/GamePage.g.cs
/Federation.Windows/obj/x86/Debug/MainPage.g.cs
/Federation.Windows/obj/x86/Debug/MainPage.g.i.cs
/Federation.Windows/obj/x86/Debug/NewGamePage.g.cs
/Federation.Windows/obj/x86/Debug/OptionsPage.g.cs
/Federation.Windows/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Federation.Windows/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Federation.Windows/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Federation.Windows/obj/x86/Debug/XamlSaveStateFile.xml
/Federation.Windows/obj/x86/Debug/XamlTypeInfo.g.cs
/Federation.Windows/ReadMe.Coding4Fun.Toolkit.txt
/Federation.Windows/obj/x86/Debug/Federation.Windows.csproj.FileListAbsolute.txt
/Federation.Windows/obj/x86/Debug/Federation.Windows.csprojResolveAssemblyReference.cache
/.vs/Federation/v14/.suo
/Federation.PCL/bin/Debug/Federation.PCL.dll
/Federation.PCL/bin/Debug/Federation.PCL.pdb
/Federation.PCL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Federation.PCL/obj/Debug/Federation.PCL.csproj.FileListAbsolute.txt
/Federation.PCL/obj/Debug/Federation.PCL.csprojResolveAssemblyReference.cache
/Federation.PCL/obj/Debug/Federation.PCL.dll
/Federation.PCL/obj/Debug/Federation.PCL.pdb
/Federation.PCL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Federation.PCL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Federation.PCL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Federation.Windows/obj/x86/Debug/AboutPage.g.i.cs
/Federation.Windows/obj/x86/Debug/BattleViewer.g.i.cs
/Federation.Windows/obj/x86/Debug/GamePage.g.i.cs
/Federation.Windows/obj/x86/Debug/NewGamePage.g.i.cs
/Federation.Windows/obj/x86/Debug/OptionsPage.g.i.cs
/Federation/obj/Debug/AboutPage.g.cs
/Federation/obj/Debug/AboutPage.g.i.cs
/Federation/obj/Debug/App.g.cs
/Federation/obj/Debug/App.g.i.cs
/Federation/obj/Debug/BattleViewer.g.cs
/Federation/obj/Debug/BattleViewer.g.i.cs
/Federation/obj/Debug/Controls/GalaxyPlanet.g.cs
/Federation/obj/Debug/Controls/GalaxyPlanet.g.i.cs
/Federation/obj/Debug/Controls/Ship.g.cs
/Federation/obj/Debug/Controls/Ship.g.i.cs
/Federation/obj/Debug/Controls/lcarButton.g.cs
/Federation/obj/Debug/Controls/lcarButton.g.i.cs
/Federation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Federation/obj/Debug/Federation.Resources.AppResources.resources
/Federation/obj/Debug/Federation.csproj.FileListAbsolute.txt
/Federation/obj/Debug/Federation.csproj.GenerateResource.Cache
/Federation/obj/Debug/Federation.csprojResolveAssemblyReference.cache
/Federation/obj/Debug/Federation.g.resources
/Federation/obj/Debug/GamePage.g.cs
/Federation/obj/Debug/GamePage.g.i.cs
/Federation/obj/Debug/MainPage.g.cs
/Federation/obj/Debug/MainPage.g.i.cs
/Federation/obj/Debug/NewGamePage.g.cs
/Federation/obj/Debug/NewGamePage.g.i.cs
/Federation/obj/Debug/OptionsPage.g.cs
/Federation/obj/Debug/OptionsPage.g.i.cs
/Federation/obj/Debug/PlanetPage.g.cs
/Federation/obj/Debug/PlanetPage.g.i.cs
/Federation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Federation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Federation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/Coding4Fun.Toolkit.Controls.2.1.0/Coding4Fun.Toolkit.Controls.2.1.0.nupkg
/packages/Coding4Fun.Toolkit.Controls.2.1.0/\[Content_Types\].xml
/packages/Coding4Fun.Toolkit.Controls.2.1.0/content/ReadMe.Coding4Fun.Toolkit.txt
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/netcore451/Coding4Fun.Toolkit.Controls.dll
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/netcore451/Coding4Fun.Toolkit.Controls.pri
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/netcore451/Coding4Fun.Toolkit.Controls/Coding4Fun.Toolkit.Controls.xr.xml
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/netcore451/Coding4Fun.Toolkit.Controls/Themes/Generic.xbf
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/netcore451/Coding4Fun.Toolkit.dll
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/netcore451/Coding4Fun.Toolkit.pri
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/wpa81/Coding4Fun.Toolkit.Controls.dll
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/wpa81/Coding4Fun.Toolkit.Controls.pri
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/wpa81/Coding4Fun.Toolkit.Controls/Coding4Fun.Toolkit.Controls.xr.xml
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/wpa81/Coding4Fun.Toolkit.Controls/Themes/Generic.xbf
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/wpa81/Coding4Fun.Toolkit.dll
/packages/Coding4Fun.Toolkit.Controls.2.1.0/lib/wpa81/Coding4Fun.Toolkit.pri
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/Microsoft.ApplicationInsights.0.14.3-build00177.nupkg
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/\[Content_Types\].xml
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/build/portable-win81+wpa81/Microsoft.ApplicationInsights.targets
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/build/wp8/Microsoft.ApplicationInsights.targets
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/content/ApplicationInsights.config.install.xdt
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/content/ApplicationInsights.config.transform
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/content/ApplicationInsights.config.uninstall.xdt
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/lib/net40/Microsoft.ApplicationInsights.XML
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/lib/net40/Microsoft.ApplicationInsights.dll
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.XML
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.dll
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/lib/wp8/Microsoft.ApplicationInsights.XML
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/lib/wp8/Microsoft.ApplicationInsights.dll
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/tools/net40/Microsoft.ApplicationInsights.targets
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/tools/net40/install.ps1
/packages/Microsoft.ApplicationInsights.0.14.3-build00177/tools/net40/uninstall.ps1
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177.nupkg
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/\[Content_Types\].xml
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/content/ApplicationInsights.config.install.xdt
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/content/ApplicationInsights.config.uninstall.xdt
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/lib/net40/Microsoft.ApplicationInsights.PersistenceChannel.XML
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/lib/net40/Microsoft.ApplicationInsights.PersistenceChannel.dll
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/lib/portable-win8+wpa81/Microsoft.ApplicationInsights.PersistenceChannel.XML
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.PersistenceChannel.dll
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/lib/wp8/Microsoft.ApplicationInsights.PersistenceChannel.XML
/packages/Microsoft.ApplicationInsights.PersistenceChannel.0.14.3-build00177/lib/wp8/Microsoft.ApplicationInsights.PersistenceChannel.dll
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177.nupkg
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/\[Content_Types\].xml
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/content/win81/ApplicationInsights.config.install.xdt
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/content/win81/ApplicationInsights.config.uninstall.xdt
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/content/wp8/ApplicationInsights.config.install.xdt
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/content/wp8/ApplicationInsights.config.uninstall.xdt
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/content/wpa81/ApplicationInsights.config.install.xdt
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/content/wpa81/ApplicationInsights.config.uninstall.xdt
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/lib/win81/Microsoft.ApplicationInsights.Extensibility.Windows.XML
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/lib/win81/Microsoft.ApplicationInsights.Extensibility.Windows.dll
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/lib/wp8/Microsoft.ApplicationInsights.Extensibility.Windows.XML
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/lib/wp8/Microsoft.ApplicationInsights.Extensibility.Windows.dll
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/lib/wpa81/Microsoft.ApplicationInsights.Extensibility.Windows.XML
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/lib/wpa81/Microsoft.ApplicationInsights.Extensibility.Windows.dll
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/tools/Microsoft.ApplicationInsights.psm1
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/tools/win81/install.ps1
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/tools/wp8/install.ps1
/packages/Microsoft.ApplicationInsights.WindowsApps.0.14.3-build00177/tools/wpa81/install.ps1
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/License-Stable.rtf
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta.nupkg
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/\[Content_Types\].xml
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/build/native/Microsoft.Diagnostics.Tracing.EventSource.Redist.targets
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/build/portable-net45+win8+wpa81/Microsoft.Diagnostics.Tracing.EventSource.Redist.targets
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/lib/net35/Microsoft.Diagnostics.Tracing.EventSource.XML
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/lib/net35/Microsoft.Diagnostics.Tracing.EventSource.dll
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/lib/net40/Microsoft.Diagnostics.Tracing.EventSource.XML
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/lib/net40/Microsoft.Diagnostics.Tracing.EventSource.dll
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/lib/net45/Microsoft.Diagnostics.Tracing.EventSource.XML
/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.16-beta/lib/net45/Microsoft.Diagnostics.Tracing.EventSource.dll
/packages/System.Numerics.Vectors.4.0.0/License-Stable.rtf
/packages/System.Numerics.Vectors.4.0.0/System.Numerics.Vectors.4.0.0.nupkg
/packages/System.Numerics.Vectors.4.0.0/\[Content_Types\].xml
/packages/System.Numerics.Vectors.4.0.0/lib/portable-net45+win8+wpa81/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.0.0/lib/portable-net45+win8+wpa81/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.0.0/lib/win8/System.Numerics.Vectors.WindowsRuntime.dll
/packages/System.Numerics.Vectors.4.0.0/lib/win8/System.Numerics.Vectors.WindowsRuntime.xml
/packages/System.Numerics.Vectors.4.0.0/lib/win8/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.0.0/lib/win8/System.Numerics.Vectors.xml
/packages/sqlite-net.1.0.8/\[Content_Types\].xml
/packages/sqlite-net.1.0.8/content/SQLite.cs
/packages/sqlite-net.1.0.8/content/SQLiteAsync.cs
/packages/sqlite-net.1.0.8/sqlite-net.1.0.8.nupkg
